<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><link rel="shortcut icon" href="http://habbo.yt/favicon.ico"/><!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="HabboYT Comeback... Lock & Load en im !" />
    <meta name="keywords" content="Habbo, Domeistcool, Retrohotel, 2019" />
    <meta name="author" content="Dome, Discord -> Dome#5300" />
    <meta name="copyright" content="HabboYT" />
    <meta name="robots" content="index, follow" />

    <title>HabboYT Comeback !</title>

    <!--========== Favicon ==========-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <!--========== Stylesheets  ==========-->
    <link rel="stylesheet" href="/assets/css/warti-bootstrap.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/warti-font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/warti-jquery.bxslider.css">
    <link rel="stylesheet" href="/assets/css/warti-wow.animate.css">
    <link rel="stylesheet" href="/assets/css/warti-ionicons.css">
    <link rel="stylesheet" href="/assets/css/warti-style.css">

    <!--========== Google fonts  ==========-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="preloader">
        <div class="loading-habbo"></div>
    </div>
    <!-- Header // -->
    <div class="header">
        <div class="container header-container">
            <div class="row">

                <div class="col-md-4 site-logo">
                    <a href="#"><img src="https://i.imgur.com/rlVT7z1.png" alt="habbologo"></a>
                </div>

                <div class="col-md-8 nav-container text-right">
                    <ul class="navigation">
                        <li><a href="#section-home"><b>Countdown</b></a></li>
                        <li><a href="#section-about"><b>Features</b></a></li>
                        <li><a href="#section-achievement"><b>Errungenschaften</b></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Header END -->

    <!-- Countdown section // home -->
    <section id="section-home" class="home-wrap">

        <div class="container">
            <!-- Counter hier // -->
            <div class="col-md-12 counter-wrap text-center">
                <div class="counter">
                    <img style="margin-bottom: 30px;" src="https://i.imgur.com/uwbXwll.png">
                    <div class="time"></div>
                </div>
            </div>
        </div>

        <!-- Bannercontainer nach Countdown -->
        <div class="banner-wrap">
            <div class="container banner-container">
                <div class="row">

                    <div class="col-md-6 banner-left  text-center">
                        <h2 class="welcome-text">Bald <span>fertig!</span></h2>
                        <span class="subtitle">Wir sind bald mit den Wartungsarbeiten zu Ende.. nur noch ein bisschen!</span>
                    </div>

                    <div class="col-md-6 banner-right text-center">
                        <h4 class="discord-title">Unser<span> Discord </span> / <span>Ts3</span></h4>
                        <div class="button discord" onclick="window.open('https://discordapp.com/invite/ZweeCGV');"><i style="margin-left: -45px;font-size: 24px;position: absolute;" class="fab fa-discord"></i> Discord</div>
                        <div class="button ts3" onclick="window.open('ts3server://habboyt');"><i style="margin-left: -45px;font-size: 24px;position: absolute;" class="fab fa-teamspeak"></i> Teamspeak³</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bannercontainer END -->
    <!-- Countdown section // home END -->

    <!-- Features und über uns section -->
    <section id="section-about" class="about-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-title">
                    <h3 class="black-border">
						<span class="blue-border">Über uns und </span><span class="blue-bold"> unsere Features</span>
					</h3>
                </div>

                <div class="col-md-6">
                    <div class="image-slider">
                        <ul style="list-style: none;" class="slider">
                            <li><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2dc951e3-cbd4-4b8d-b83c-5afec3a78180/daz2vuc-bccf28fa-1645-44a2-8933-92ab7e899495.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJkYzk1MWUzLWNiZDQtNGI4ZC1iODNjLTVhZmVjM2E3ODE4MFwvZGF6MnZ1Yy1iY2NmMjhmYS0xNjQ1LTQ0YTItODkzMy05MmFiN2U4OTk0OTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.F0KfP0D8JXaojvsv37xi2mCuH1JF-pht9QFGrSmI9Wo" alt=""></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="tab-container">
                        <ul class="tab-nav">
                            <li class="tab-selected"><a href="#one">Über HabboYT</a></li>
                            <li><a href="#three">Unser Team</a></li>
                        </ul>

                        <div class="tab one">
                            <h4>Zusammen sind wir eine Community..</h4>
                            <p>Wir haben positive und auch negative Momente erlebt. Doch trotz allem hatten wir zu guter letzt ein Client Problem. Wir werden euch selbstverständlich als entschädigung neue Technik und auch neue Möbel sowie weiteren zusätlichen punkten. Hier ein kleiner Überblick.</p>
                            <ul class="list-items">
                                <li><span class="fa fa-long-arrow-right"></span>Wir entwickeln das Userpanel.</li>
                                <li><span class="fa fa-long-arrow-right"></span>Die Homepage wird optisch verschönert und Extras werden hinzugefügt.</li>
                                <li><span class="fa fa-long-arrow-right"></span>Neue Client Features werden hinzugefügt.</li>
                                <li><span class="fa fa-long-arrow-right"></span>Polizei , Angelsystem , Lotto System , So wie Lebenssystem wird überarbeitet.</li>
                                <li><span class="fa fa-long-arrow-right"></span>Viele neue Möbel, mehr Starttaler , neue Rares und viele Events.</li>
                            </ul>
                        </div>

                       

                        <div class="tab three">
                            <h4>Unser Team</h4>
                            <p>Unser Team ist derzeit noch klein und braucht und sucht auch noch Zuwachs.</p>
                            <p>Daher prüfe oft unsere News auf Discord und bewerbe dich an entsprechenden Terminen und werde ein Teil von uns!</p>
							<br><br>
							<div class="teamwrapper">
                                <div class="container team-container">
                                    <div class="row">
                                        <div class="teambox">
                                            <div class="col-md-6">
                                                <div class="team-left">
                                                    <img src="https://www.habbo.nl/habbo-imaging/avatarimage?figure=sh-295-67.lg-280-110.hd-190-97554.fa-1201-62.hr-165-59.ch-210-92&head_direction=3&gesture=sml"> Sir1337
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="team-right">
                                                    Gründer
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badge">
                                            <img src="https://www.habborator.org/badges/badges/ADM.gif">
                                        </div>
										  <div class="teambox">
                                            <div class="col-md-6">
                                                <div class="team-left">
                                                    <img src="https://hubba.cc/hubba-imaging/avatarimage?figure=ha-1003-64.he-3071-81.hr-170-61.sh-908-64.ch-255-64.lg-285-81.fa-3276-73.hd-190-2&amp;h=hubba&amp;direction=2&amp;head_direction=3&amp;gesture=sml&amp;size=m&amp;action=wlk"> OtakuHQ
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="team-right">
                                                    Gründer
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badge">
                                            <img src="https://www.habborator.org/badges/badges/ADM.gif">
                                        </div>
                                            <div class="teambox">
                                                <div class="col-md-6">
                                                    <div class="team-left">
                                                        <img src="https://www.habbo.nl/habbo-imaging/avatarimage?figure=ch-215-92.hd-190-2.fa-1210-62.ha-1014-95.sh-290-62.lg-275-110.hr-831-61&direction=2&head_direction=3&gesture=sml"> Andre
                                                    </div>
                                                </div>
												
                                                <div class="col-md-6">
                                                    <div class="team-right">
                                                        Projektleitung
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="badge">
                                                <img src="https://www.habborator.org/badges/badges/ADM.gif">
                                            </div>
                                            <div class="teambox">
                                                <div class="col-md-6">
                                                    <div class="team-left">
                                                        <img src="https://www.habbo.nl/habbo-imaging/avatarimage?figure=hd-209-2.cc-568282-62.ch-210-92.fa-1212-110.lg-3023-110.hr-3260-1065&direction=2&head_direction=3&gesture=sml"> Luca
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="team-right">
                                                        Communitymanager
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="badge">
                                                <img src="https://www.habborator.org/badges/badges/ADM.gif">
                                            </div>
											                                            <div class="teambox">
                                                <div class="col-md-6">
                                                    <div class="team-left">
                                                        <img src="https://www.habbo.nl/habbo-imaging/avatarimage?figure=fa-201407-1289.ch-650-1227.he-987462912-62-62.hr-3012-1055.sh-740-92.hd-600-3.lg-3006-80-80&direction=2&head_direction=3&gesture=sml"> Ariellah
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="team-right">
                                                        Eventmanagement
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="badge">
                                                <img src="https://www.habborator.org/badges/badges/ADM.gif">
                                            </div>
											                                            <div class="teambox">
                                                <div class="col-md-6">
                                                    <div class="team-left">
                                                        <img src="https://www.habbo.nl/habbo-imaging/avatarimage?figure=&gesture=sml"> Chewed
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="team-right">
                                                        Moderator
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="badge">
                                                <img src="https://www.habborator.org/badges/badges/ADM.gif">
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Features und über uns section END -->

    <!-- Errungenschaften Section -->
    <section id="section-achievement" class="achievement-wrap text-center">
        <div class="achievement-overlay"></div>
        <div class="container">
            <div class="row">

                <div style="margin-bottom: 40px;" class="col-md-12 section-title">
                    <h3 class="white-border">
						<span class="blue-border">Unsere derzeitigen </span><span class="blue-bold"> Errungenschaften</span>
					</h3>
                </div>

                <div class="col-md-4 achievement-box">
                    <div class="achievement">
                        <img style="margin-top: 75px;margin-left: 110px;position:absolute;" src="https://www.habborator.org/archive/icons/medium/me_effects_active.gif"> 3232
                        <span>Registrierte User</span>
                    </div>
                </div>

                <div class="col-md-4 achievement-box">
                    <div class="achievement">
                        <img style="margin-top: 75px;margin-left: 90px;position:absolute;" src="https://www.habborator.org/archive/icons/medium/v24_1.gif"> 487
                        <span>Möbel Kategorien</span>
                    </div>
                </div>

                <div class="col-md-4 achievement-box">
                    <div class="achievement">
                        <img style="margin-top: 75px;margin-left: 90px;position:absolute;" src="https://www.habborator.org/archive/icons/medium/room_icon_4.gif"> 84
                        <span>User Rekord</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Errungenschaften END -->

    <a href="javascript:void(0);" class="soundControl" data-playing="true"><i class="ion-volume-medium"></i></a>

    <!-- Footer section.. -->
    <div id="section-footer" class="footer-wrap text-center">
        <div class="container">
            <div class="col-md-12">
                <p class="copyright-text">&copy; 2019 <span>HabboYT</span>. All rights reserved</p><div class="hblogo"><img src="https://i.imgur.com/rlVT7z1.png"></div>
            </div>
        </div>
    </div>
    <!-- End Footer section -->

    <!--========= Js files cuz faster ja... =========-->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/jquery.nav.js"></script>
    <script src="/assets/js/jquery.jcountdown.js"></script>
    <!--<script src="/system/maintenance/js/jquery.bxslider.min.js"></script> später..-->
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>

</html>
