{% extends "base.html" %} 
{% block body %}
<div id="news" class="page-news animate__animated animate__fadeIn" style="display: block;">
   <div class="d-flex" justifycontent="center" alignitems="center" width="100">
      <div class="d-flex" justifycontent="space-around" width="responsive">
         <div class="d-flex" flexdirection="column">
            <div class="left-side d-flex" flexdirection="column" style="height: auto !important">
               <div class="page-header d-flex" alignitems="center">
                  <div class="page-icon d-flex" justifycontent="center" alignitems="center">
                     <i class="icon --heart"></i>
                  </div>
                  <div class="d-flex" flexdirection="column">
                     <span class="page-title" weight="500">{{locale.reactions}}</span>
                  </div>
               </div>
               {% if posts == null  %}
               <p class="nopost">
                  {{locale.reactions_empty}}
               </p>
               {% endif %}
               {% for post in posts %}
               {% if post.hidden != 1 or 'housekeeping_moderation_tools' in permissions %}
               <div class="update-item d-flex" alignitems="center">
                  <div class="developer-figure" style="background-image: url({{site.fpath}}?figure={{post.author.look}}&amp;action=std&amp;direction=2&amp;head_direction=2&amp;img_format=undefined&amp;headonly=1&amp;size=b)"></div>
                  <div class="d-flex" flexdirection="column">
                     <a href="/profile/{{post.author.username}}" class="developer-username">{{post.author.username}}</a>
                     <div class="new-update">
                        <p> {{post.message|raw}}</p>
                     </div>
                  </div>
               </div>
               {% endif %}
               {% endfor %}
                <div class="divider" style="margin: 0 0 25px 0"></div>
                {% if player %}
                    <input type="text" class="news-input" id="reply-message" placeholder="{{locale.reactions_fill}}" required>
                    <span class="input-group-btn">
                        <button type="submit" class="news-submit article-reply" data-csrf="{{csrf_token}}" data-id="{{article.id}}" style="width:64px">{{locale.reactions_post}}</button>
                    </span>
                {% endif %}
            </div>
            <div class="left-side d-flex" flexdirection="column" style="height: auto !important; margin-top: 20px">
               <span class="title" weight="500">{{locale.latest_news}}</span>
               <div class="divider" style="margin: 0 0 20px 0"></div>
               <div class="archive d-flex" flexdirection="column">
                  {% for item in latest_news %}
                  <div class="archive-item d-flex" flexdirection="column">
                     <a href="/article/{{item.id}}-{{item.slug}}"class="article">{{item.title}} »</a> 
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
         <div id="getNews" class="right-side">
            <span class="title" weight="500">{{article.title}}</span>
            <div class="divider" style="margin: 0 0 20px 0"></div>
            <div class="article-body">
               {{article.full_story|raw}}
               <br>
               <div class="article-footer d-flex" alignitems="center">
                  <div class="avatar-image" style="background-image: url({{site.fpath}}?figure={{article.author.look}}&amp;action=std&amp;direction=2&amp;head_direction=3&amp;img_format=undefined&amp;gesture=sml&amp;headonly=0&amp;size=b)"></div>
                  <a href="/profile/{{article.author.username}}" class="username">{{article.author.username}}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}