{% extends "base.html" %}
{% block body %}
<div id="rare-values" class="page-values animate__animated animate__fadeIn" justifycontent="center" alignitems="center" style="display: flex;">
   <div class="d-flex" justifycontent="space-between" flexwrap="wrap" width="responsive">
      <div class="left-side d-flex" flexdirection="column" width="70" style="gap: 35px;">
         <div class="section-item">
            <div class="section-body" style="margin: 0px !important">
               <div class="product-content d-flex" flexwrap="wrap">
                  {% for item in rares %}
                  <div class="product-item">
                     <div class="d-flex" alignitems="center">
                        <img src="{{item.image}}" style="margin-top: -50px;">
                        <div class="d-flex" flexdirection="column" width="100">
                           <div class="product-header d-flex" justifycontent="space-between" alignitems="center">
                              <span class="product-name" weight="500">{{item.name}}</span>
                              <div class="product-have bg-success tooltip tooltip-top">
                                 <span class="tooltip-trigger">{{item.units}}</span>
                                 <span class="tooltip-drop">This is how many of these rares are in hotel</span>
                              </div>
                           </div>
                           <div class="price d-flex" alignitems="center" style="gap: 10px;">
                              <div class="curreny d-flex" alignitems="center" style="gap: 3px;">
                                 <div class="icons" style="{% if item.cost_credits > 0 %}float: left;background: url(/assets/theme/default/images/hotel/purses/credits-icon.png) no-repeat center center;height: 15px;width: 15px;{% endif %}{% if item.cost_points > 0 %}float: left;background: url(/assets/theme/default/images/hotel/purses/{{item.points_type}}-icon.png) no-repeat center center;height: 21px;width: 21px;{% endif %}"></div>
                                 <p class="price">5</p>
                              </div>
                           </div>
                           <div style="color: #fff;font-size: 11px;margin-top: 32px;">{{locale.last_edited}}: {{item.last_edited}}</div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <div class="right-side d-flex" flexdirection="column" width="25" style="gap: 35px;">
         <div class="info-space">
            <div class="info-content d-flex" justifycontent="space-between" alignitems="center">
            <div class="input-group search-rare d-flex">
                    <input type="text" class="news-input" id="reply-message" placeholder="{{locale.reactions_fill}}" required>
                    <span class="input-group-btn">
                        <button type="submit" class="news-submit search-rarebtn" style="margin-top: 2px;width:64px">{{locale.search}}</button>
                    </span>
            </div>
         </div>
           <div class="rares-pages-container" style="padding:5px;margin-top:10px;color:#fff">
               {% if pages %}
               {% for item in pages %}
               <a href="/community/rares/{{item.id}}-{{item.name}}" class="rares-pages-container pageinfo d-flex">
                  <img src="{{item.thumbnail}}" style="height: 40px;padding: 2px;">
                  <div class="rares-pages-details" style="font-size: 13px;padding-left: 8px;">
                     <div class="rares-pages-title">{{item.name}} </div>
                     <div class="rares-pages-desc">{{item.description}}</div>
                  </div>
               </a>
               {% endfor %}
               {% else %}
               <div class="rares-pages-container pageinfo">
                  <div class="rares-pages-details">
                     <div class="rares-pages-title">{{locale.pages_notfound}} </div>
                  </div>
               </div>
               {% endif %}
            </div>
      </div>
   </div>
</div>
{% endblock %}