{% extends "base.html" %} 
{% block body %}
<div id="highscores" class="page-highscores animate__animated animate__fadeIn" style="display: flex;">
   <div class="d-flex" justifycontent="center" alignitems="center" width="100">
      <div class="d-flex" flexwrap="wrap" width="responsive" style="gap: 37px;">
        <div class="highscores-item">
            <div class="highscores-header d-flex" justifycontent="center" alignitems="center">
               <i class="icon --credits"></i>
               <span class="title" weight="500">Taler</span>
            </div>
            <div class="divider" style="margin: 0 0 30px 0;"></div>
            <div class="highscores-content d-flex" flexdirection="column">
               {% for credits in credits|slice(0,4) %}
               <div class="user-item d-flex" alignitems="center">
                  <div class="ranking d-flex" justifycontent="center" alignitems="center">
                     <span class="rank-id" weight="500">{{ loop.index }}</span>
                  </div>
                  
                  <div class="user-details d-flex" alignitems="center">
                     <div class="head-figure" style="background-image: url({{site.fpath}}?figure={{credits.player.look}}&amp;size=b&amp;head_direction=2&amp;gesture=sml&amp;headonly=1);"></div>
                     <div class="d-flex" flexdirection="column">
                        <a class="username" weight="500">{{credits.player.username}}</a>
                        <span class="amount">
                        <b weight="500">{{credits.credits}} </b>Taler
                        </span>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         {% for key,currency in currencys %}
         <div class="highscores-item">
            <div class="highscores-header d-flex" justifycontent="center" alignitems="center">
               <i class="icon --credits"></i>
               <span class="title" weight="500">{{key}}</span>
            </div>
            <div class="divider" style="margin: 0 0 30px 0;"></div>
            <div class="highscores-content d-flex" flexdirection="column">
               {% for user in currency|slice(0,4) %}
               <div class="user-item d-flex" alignitems="center">
                  <div class="ranking d-flex" justifycontent="center" alignitems="center">
                     <span class="rank-id" weight="500">{{ loop.index }}</span>
                  </div>
                  
                  <div class="user-details d-flex" alignitems="center">
                     <div class="head-figure" style="background-image: url({{site.fpath}}?figure={{user.player.look}}&amp;size=b&amp;head_direction=2&amp;gesture=sml&amp;headonly=1);"></div>
                     <div class="d-flex" flexdirection="column">
                        <a class="username" weight="500">{{user.player.username}}</a>
                        <span class="amount">
                        <b weight="500">{{user.amount}} </b>{{key}}
                        </span>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         {% endfor %}
         {% if achievements is not empty %}
         <div class="highscores-item">
            <div class="highscores-header d-flex" justifycontent="center" alignitems="center">
               <i class="icon --credits"></i>
               <span class="title" weight="500">Aktivitätspunkte</span>
            </div>
            <div class="divider" style="margin: 0 0 30px 0;"></div>
            <div class="highscores-content d-flex" flexdirection="column">
               {% for achievements in achievements|slice(0,4) %}
               <div class="user-item d-flex" alignitems="center">
                  <div class="ranking d-flex" justifycontent="center" alignitems="center">
                     <span class="rank-id" weight="500">{{ loop.index }}</span>
                  </div>
                  
                  <div class="user-details d-flex" alignitems="center">
                     <div class="head-figure" style="background-image: url({{site.fpath}}?figure={{achievements.player.look}}&amp;size=b&amp;head_direction=2&amp;gesture=sml&amp;headonly=1);"></div>
                     <div class="d-flex" flexdirection="column">
                        <a class="username" weight="500">{{achievements.player.username}}</a>
                        <span class="amount">
                        <b weight="500">{{achievements.achievement_score}} </b>Punkte
                        </span>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         {% endif %}
         {% if respects is not empty %}
         <div class="highscores-item">
            <div class="highscores-header d-flex" justifycontent="center" alignitems="center">
               <i class="icon --credits"></i>
               <span class="title" weight="500">Lobe</span>
            </div>
            <div class="divider" style="margin: 0 0 30px 0;"></div>
            <div class="highscores-content d-flex" flexdirection="column">
               {% for respects in respects|slice(0,4) %}
               <div class="user-item d-flex" alignitems="center">
                  <div class="ranking d-flex" justifycontent="center" alignitems="center">
                     <span class="rank-id" weight="500">{{ loop.index }}</span>
                  </div>
                  
                  <div class="user-details d-flex" alignitems="center">
                     <div class="head-figure" style="background-image: url({{site.fpath}}?figure={{respects.player.look}}&amp;size=b&amp;head_direction=2&amp;gesture=sml&amp;headonly=1);"></div>
                     <div class="d-flex" flexdirection="column">
                        <a class="username" weight="500">{{respects.player.username}}</a>
                        <span class="amount">
                        <b weight="500">{{respects.respects_received}} </b>Erhaltene Lobe
                        </span>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         {% endif %}
         {% if online is not empty %}
         <div class="highscores-item">
            <div class="highscores-header d-flex" justifycontent="center" alignitems="center">
               <i class="icon --credits"></i>
               <span class="title" weight="500">Onlinezeit</span>
            </div>
            <div class="divider" style="margin: 0 0 30px 0;"></div>
            <div class="highscores-content d-flex" flexdirection="column">
               {% for online in online|slice(0,4) %}
               <div class="user-item d-flex" alignitems="center">
                  <div class="ranking d-flex" justifycontent="center" alignitems="center">
                     <span class="rank-id" weight="500">{{ loop.index }}</span>
                  </div>
                  
                  <div class="user-details d-flex" alignitems="center">
                     <div class="head-figure" style="background-image: url({{site.fpath}}?figure={{online.player.look}}&amp;size=b&amp;head_direction=2&amp;gesture=sml&amp;headonly=1);"></div>
                     <div class="d-flex" flexdirection="column">
                        <a class="username" weight="500">{{online.player.username}}</a>
                        <span class="amount">
                        <b weight="500">{{online.progress // 60|round }} </b> Stunden online
                        </span>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}