/*Copyright Dome, Discord: Dome#5300 */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	color: #333333;
	overflow-x: hidden;
	text-rendering: optimizelegibility;
}

ul,ol {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

input:focus, textarea:focus {
	outline: 0;
}

img {
	max-width: 100%;
}

p {
	margin: 0 0 10px;
	color: #888888;
}

h1,h2,h3,h4 {
	font-family: 'Roboto slab',  serif;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 28px
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0 0 10px;
}

h5 {
	font-family: 'Roboto slab',  serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 0 10px;
}

h6 {
	font-size: 14px;
}


.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.section-title {
	text-align: center;
	margin-bottom: 80px;
}

.section-title h3 {
	display: inline-block;
	font-size: 36px;
	line-height: 46px;
	font-weight: 300;
	margin: 0 0 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-title .blue-bold {
	color: #4C84FF;
	font-weight: 700;
	text-shadow: 1px 1px 1px rgba(0,0,0, .15);
}

.black-border, .white-border {
	position: relative;
}

.black-border:before, .white-border:before {
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 2px;
}

.black-border:before {
	background-color: #262522;
}

.white-border:before {
	background-color: #ffffff;
}


.blue-border {
	position: relative;
	height: 100%;
  	display: inline-block;
}

.blue-border:before {
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #4C84FF;
}

.white-border .blue-border {
	color: #ffffff;
}

.container {
	max-width: 1000px;
}

.home-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .2);
	z-index: 1;
}

/*--------------- keyframes Animation ----------------*/

@-webkit-keyframes toRight {
	0% { 
		-webkit-transform: translateX(0px) skew(-21deg);
	 }
	50% { 
		-webkit-transform: translateX(45px) skew(-21deg);
	 }
	51% { 
		-webkit-transform: translateX(-45px) skew(-21deg);
	 }
	 100% { 
		-webkit-transform: translateX(0px) skew(-21deg);
	 }
}

@-moz-keyframes toRight {
	0% { 
		-moz-transform: translateX(0px) skew(-21deg);
	 }
	50% { 
		-moz-transform: translateX(45px) skew(-21deg);
	 }
	51% { 
		-moz-transform: translateX(-45px) skew(-21deg);
	 }
	 100% { 
		-moz-transform: translateX(0px) skew(-21deg);
	 }
}

@-o-keyframes toRight {
	0% { 
		-o-transform: translateX(0px) skew(-21deg);
	 }
	50% { 
		-o-transform: translateX(45px) skew(-21deg);
	 }
	51% { 
		-o-transform: translateX(-45px) skew(-21deg);
	 }
	 100% { 
		-o-transform: translateX(0px) skew(-21deg);
	 }
}

@keyframes toRight {
	0% { 
		transform: translateX(0px) skew(-21deg);
	 }
	50% { 
		transform: translateX(45px) skew(-21deg);
	 }
	51% { 
		transform: translateX(-45px) skew(-21deg);
	 }
	 100% { 
		transform: translateX(0px) skew(-21deg);
	 }
}


@-webkit-keyframes fly {
	0% { 
		-webkit-transform: translateX(0px) translateY(0px);
	 }
	50% { 
		-webkit-transform: translateX(35px) translateY(-35px);
	 }
	51% { 
		-webkit-transform: translateX(-35px) translateY(35px);
	 }
	 100% { 
		-webkit-transform: translateX(0px) translateY(0px);
	 }
}

@-moz-keyframes fly {
	0% { 
		-moz-transform: translateX(0px) translateY(0px);
	 }
	50% { 
		-moz-transform: translateX(35px) translateY(-35px);
	 }
	51% { 
		-moz-transform: translateX(-35px) translateY(35px);
	 }
	 100% { 
		-moz-transform: translateX(0px) translateY(0px);
	 }
}

@-o-keyframes fly {
	0% { 
		-o-transform: translateX(0px) translateY(0px);
	 }
	50% { 
		-o-transform: translateX(35px) translateY(-35px);
	 }
	51% { 
		-o-transform: translateX(-35px) translateY(35px);
	 }
	 100% { 
		-o-transform: translateX(0px) translateY(0px);
	 }
}

@keyframes fly {
	0% { 
		transform: translateX(0px) translateY(0px);
	 }
	50% { 
		transform: translateX(35px) translateY(-35px);
	 }
	51% { 
		transform: translateX(-35px) translateY(35px);
	 }
	 100% { 
		transform: translateX(0px) translateY(0px);
	 }
}

@-webkit-keyframes frombottom {
	0% { 
		-webkit-transform: translateY(0px);
	 }
	 100% { 
		-webkit-transform: translateY(-80px);
	 }
}

@-moz-keyframes frombottom {
	0% { 
		-moz-transform: translateY(0px);
	 }
	 100% { 
		-moz-transform: translateY(-80px);
	 }
}

@-o-keyframes frombottom {
	0% { 
		-o-transform: translateY(0px);
	 }
	 100% { 
		-o-transform: translateY(-80px);
	 }
}

@keyframes frombottom {
	0% { 
		transform: translateY(0px);
	 }
	 100% { 
		transform: translateY(-80px);
	 }
}

@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }
  
	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
  }
  
  @-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }
  
	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
  }
  
  @keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }
  
	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
  }

/*--------------- End keyframes Animation ----------------*/

/*--------------- Preloader ----------------*/
.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1010;
	background: #ffffff;
}

.loading-habbo {
	position: absolute;
	top: calc(50% - 70px);
	left: 0;
	right: 0;
	margin: auto;
	width: 197px;
	height: 73px;
	box-shadow: inset 0px 0px 0px 4px #eee;
}
.loading-habbo:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://i.imgur.com/uwbXwll.png);
}
/*--------------- End Preloader ----------------*/

/*--------------- Header ----------------*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #222 url('../images/header-bg.png') left top/cover no-repeat;
	box-shadow: 0px 10px 0px rgba(35, 75, 161, 0.3);
	z-index: 999;
}

.site-logo img {
	height: 42px;
	width: auto;
	margin: 14px 0;
	-webkit-animation: ring 4s .7s ease-in-out infinite;
	-webkit-transform-origin: 50% 2px;
	-moz-animation: ring 4s .7s ease-in-out infinite;
	-moz-transform-origin: 50% 2px;
	animation: ring 4s .7s ease-in-out infinite;
	transform-origin: 50% 2px;
	transition: opacity 1s;
}

.site-logo img:hover {
	opacity: 0.7;
}

.nav-container {
	padding-right: 0;
}

.navigation {
	list-style: none;
	height: 70px;
	float: right;
}

.navigation li {
	display: inline-block;
}

.navigation li a {
	font-family: 'Roboto Slab', serif;
	padding: 24.5px 20px;
	line-height: 70px;
	color: #fff;

	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.navigation li a:hover {
	color: #f6f6f6;
	background-color: rgba(0, 0, 0, .3);
}

/*--------------- End Header ----------------*/

/*--------------- Home ----------------*/
.home-wrap {
	position: relative;
	background: url(../images/habbo-bg.png) center center/cover no-repeat;
	min-height: 610px;
}

.counter-wrap {
	position: relative;
	z-index: 10;
}

.counter {
	max-width: 450px;
	color: #fff;
	margin: 210px auto 0;
	overflow: hidden;
}

.counter img{
	cursor: pointer;
	transition: opacity 1s;
}

.counter img:hover {
	opacity: 0.7;
}

.countdown .count-int {
	font-family: 'Roboto slab',  serif;
	display: block;
	font-size: 48px;
	font-weight: 300;
}

.countdown .count-text {
	font-size: 16px;
}

.banner-wrap {
	background: url('../images/banner-bg.png') center center/cover no-repeat;
	position: relative;
	width: 100%;
	height: 240px;
	margin-top: 140px;
	overflow: hidden;
	z-index: 10;
}

.banner-left {
	color: #fff;
	padding: 80px 60px 0 0;
}

.welcome-text {
	font-size: 55px;
	line-height: 55px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px rgba(0,0,0, .6);
	margin: 0;
}

.welcome-text span {
	color: #4C84FF;
	font-weight: 700;
}     

.subtitle {
	font-size: 18px;
	margin: 0;
	font-weight: 300;
}

.banner-right{
	padding: 40px 0 0 90px;
}

.discord-title {
	font-size: 24px;
	color: #494849;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0, .1);
}

.discord-title span {
	color: #4C84FF;
	font-weight: 700;
}
/*--------------- End Home ----------------*/

/*--------------- About und features ----------------*/
.about-wrap {
	padding: 100px 0;
	background-color: #fff;
}

.tab-container {} /* löschen.. maybe fällt mir noch was ein */

.tab-nav {
	list-style: none;
	border-bottom: 2px solid #4C84FF;
	margin-bottom: 20px;
}
.tab-nav li {
	display: inline-block;
}

.tab-nav li a {
	display: inline-block;
	padding: 10px 20px;
	color: #333;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;

	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-ms-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}

.tab-selected a {
	display: inline-block;
	background-color: #4C84FF;
	color: #fff !important;
}

.tab {
	display: none;
	padding-left: 20px;

}

.tab h4 {
	letter-spacing: 1px;
}

.one {
	display: block;
}

.list-items {
	padding: 10px 0px 10px 15px;
	list-style: none;
	color: #888888;
}

.list-items li {
	font-size: 15px;
	margin-bottom: 5px;
  	font-weight: 400;
  	color: #666;
}

.list-items li span {
	color: #4C84FF;
	margin-right: 7px;
}

.feature {
	overflow: hidden;
	padding: 10px 0;
}

.feature-icon {
	display: inline-block;
	float: left;
	text-align: center;
	height: 64px;
	width: 64px;
	background-color: #4C84FF;
}

.feature-icon i {
	font-size: 32px;
	line-height: 64px;
	color: #fff;
}

.feature-desc {
	max-width: 386px;
	width: 85%;
  	float: left;
  	padding-left: 15px;
}

.feature h5 {
	text-transform: uppercase;
	line-height: 1.1;
	margin-bottom: 8px;
}

.feature p {
	margin: 0;
}
/*--------------- End About und features ----------------*/

/*--------------- Services ----------------*/
.services-wrap {
	padding: 100px 0 40px;
	border-top: 1px solid #eee;
	background-color: #f8fafb;
}


.service {
	padding-bottom: 60px;
}

.service .icon {
	margin-bottom: 13px;
}

.service .icon i {
	font-size: 36px;
	color: #4C84FF;
}
/*--------------- End Services ----------------*/

/*--------------- Achievement ----------------*/
.achievement-wrap {
	position: relative;
	padding: 100px 0;
	background: url('../images/habbo-bg.png') center center no-repeat;
}

.achievement-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .80);
	z-index: 1;
}

.achievement-wrap .container {
	position: relative;
	z-index: 10;
}

.achievement {
	font-family: 'Roboto slab',  serif;
	font-size: 42px;
	font-weight: 700;
	color: #ffffff;
}

.achievement span {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
/*--------------- End Achievement ----------------*/

.soundControl {
	position: fixed;
	bottom: 60px;
	right: 140px;
	text-align: center;
	width: 70px;
	height: 70px;
	display: block;
	font-size: 20pt;
	z-index: 4000;
	padding-top: 20px;
	color: #ffffff;
	border-radius: 50%;
	background: #262522;
	text-decoration: none !important;
	transition: background .4s;
}

.soundControl:hover {
	background: #333333;
	color: #ffffff;
}

.soundControl:focus {
	color: #ffffff;
}

/*--------------- Buttons ----------------*/
.button {
	width: 200px;
	display: flex;
	position: relative;
	height: 50px;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	margin-left: 100px;
	margin-top: 15px;
	transition: opacity 1s;
}

.discord {
	background: #2C2F33;
	color: #fff;
	padding-left: 70px;
	padding-top: 15px;
}

.ts3 {
	background: #fff;
	color: #262522;
	padding-left: 70px;
	padding-top: 15px;
}

.button:hover {
	opacity: 0.7;
}

/*--------------- End Buttons ----------------*/

/*--------------- Teamsection ----------------*/

.teamwrapper {
	display: block;
}

.teambox {
	background: url(../images/banner-bg.png) center center/cover no-repeat;
	width: 405px;
	height: 70px;
	margin-bottom: 10px;
	padding: 5px;
	overflow: hidden;
}

.team-left {
	color: #fff;
    font-size: 16px;
    padding: 15px 20px 0 50px;
}

.team-left img {
	position: absolute;
	margin-left: -70px;
	margin-top: -35px;
}

.team-right {
	color: #494849;
    font-size: 16px;
    padding: 15px 20px 0 30px;
}

.badge img {
	margin-left: 185px;
	margin-top: -73px;
}

/*--------------- End Teamsection ----------------*/

/*--------------- Footer ----------------*/
.footer-wrap {
	padding: 40px 0;
}

.copyright-text span {
	font-weight: 500;
	color: #666;
}

.hblogo img {
	transition: opacity 1s;
	cursor: pointer;
}

.hblogo img:hover {
	opacity: 0.7;
}
/*--------------- End Footer ----------------*/

::-webkit-scrollbar {
    width: 5px;
	background-color: rgb(38, 37, 34);
	border: 0px;
}
 
::-webkit-scrollbar-track {
	background-color: rgb(38, 37, 34);
	border: 0px;
}
 
::-webkit-scrollbar-thumb {
	background-color: rgb(38, 37, 34);
	border: 0px;
}


/*-------====== Media Queries ======--------*/
@media (max-width: 992px) {
	/*---------- Header ------------*/
	.header {
		height: auto;
		background: transparent;
	}
	
	.button {
		margin-left: 400px;
	}

	.header-container {
		width: 100%;

	}
	
	.soundControl {
		display: none;
	}

	.scrolling  {
		-webkit-animation: frombottom .3s forwards;
		-moz-animation: frombottom .3s forwards;
		-o-animation: frombottom .3s forwards;
		animation: frombottom .3s forwards;
	}

	.site-logo {
		text-align: center;
		background-color: #4C84FF;
	}

	.nav-container {
		background-color: #262522;
	}

	.navigation {
		float: none;
		height: auto;
	}

	.navigation li a {
		padding: 19.5px 20px;
  		line-height: 60px;
	}

	.navigation li a:hover {
		color: #4C84FF;
		background-color: transparent;
	}

	/*---------- home ------------*/
	.counter {
		margin: 310px auto 0;
	}

	.banner-wrap {
		height: auto;
		background: transparent;
	}

	.banner-container {
		width: 100%;
	}

	.banner-container {
		width: 100%;
	}

	.team-container {
		width: 100%;
	}

	.team-right {
		margin-left: 200px;
		margin-top: -37px;
	}

	.teamwrapper {
		height: auto;
		background: transparent;
	}

	.banner-left {
		background-color: #262522;
		padding: 60px 0;
	}

	.banner-right {
		background-color: #F3F4F2;
		padding: 60px 0;
	}

	/*---------- About und Features ------------*/
	.image-slider {
		margin-bottom: 60px;
	}


	/*---------- Achievement ------------*/
	.achievement-box {
		margin-bottom: 40px;
	}

}

@media (max-width: 767px) {
	.countdown {
		margin-bottom: 40px;
	}
	
	.button {
		margin-left: 270px;
	}
}

@media (max-width: 480px) {
	.section-title h3 {
		font-size: 28px;
	}
	
	.button {
		margin-left: 90px;
	}

	.feature-icon {
		margin-bottom: 10px;
	}

	.feature-desc {
		padding-left: 0px;
	}

}

@media (max-width: 360px) {
	
	.tab-nav li a {
		padding: 10px;
		font-size: 12px;
	}
	
	.button {
		margin-left: -400px;
	}
}