{% extends "base.html" %}
{% block body %}
<div id="fansites" class="page-fansites animate__animated animate__fadeIn" style="display: flex;">
   <div class="d-flex" justifycontent="center" alignitems="center" width="100">
      <div class="d-flex" justifycontent="center">
         <div class="left-side d-flex" flexdirection="column">
            <h1 class="title" weight="500" texttransform="uppercase">{{locale.title}}</h1>
            <div style="margin-top:20px; color: #fff">
               {{locale.help_1}} <strong>{{price}} {{currency}}</strong> {{locale.help_2}}
               <form action="settings/namechange/validate" method="post">
                  <div style="margin-top: 50px;">
                     <button class="modal-btn-3 button btn-success buy-now d-flex" justifycontent="center" alignitems="center">{{locale.request}}</button>			</p>
                  </div>
               </form>
            </div>
         </div>
         <div class="right-side">
            <img src="/assets/theme/ares/images/groups.png">
         </div>
      </div>
   </div>
</div>
{% endblock %}