{% extends "base.html" %}
{% set nav = "namechange" %}
{% block body %}
<div id="settings" class="page-settings animate__animated animate__fadeIn" style="display: flex;" justifycontent="center" alignitems="center">
   <div class="d-flex" flexdirection="column" alignitems="center" width="responsive">
      <div id="updateSettings"></div>
      <div class="col-xxl" style="padding: 30px;">
         <div class="settings-menu">
            <ul class="tab-list d-flex" alignitems="center">
               <a class="tab-item active" id="tab_privacy">Privatsphäre</a>
               <a class="tab-item" id="tab_password">Password</a>
               <a class="tab-item" id="tab_email">E-Mail</a>
            </ul>
         </div>
         <div class="settings-content tabcontent" id="tab_privacy_content" style="display: block;">
            <h2 class="tab-title">Account Einstellung</h2>
            <div class="tab-content">
               <div class="tab-items d-flex" flexdirection="column">
                  <div class="item-container d-flex" justifycontent="space-between" alignitems="flex-start">
                     <div class="left-side">
                        <h3 class="item-title">Profil Sichtbarkeit</h3>
                        <p class="item-description">Wer kann dein Profil sehen</p>
                     </div>
                     <div class="right-side">
                        <select name="block_following" data-id="block_following" class="settings no-background">
                           <option value="0" {% if data.block_following == 0 %}selected{% endif %}>Jeder</option>
                           <option value="1" {% if data.block_following == 1 %}selected{% endif %}>Niemand</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-content">
            <h2 class="tab-title">Hotel Einstellungen</h2>
            <div class="tab-content">
               <div class="tab-items d-flex" flexdirection="column">
                  <div class="item-container d-flex" justifycontent="space-between" alignitems="flex-start">
                     <div class="left-side">
                        <h3 class="item-title">{{locale.follow_title}}</h3>
                        <p class="item-description">{{locale.follow_label}}</p>
                     </div>
                     <div class="right-side">
                        <select name="block_following" data-id="block_following" class="settings no-background">
                           <option value="0" {% if data.block_following == 0 %}selected{% endif %}>Jeder</option>
                           <option value="1" {% if data.block_following == 1 %}selected{% endif %}>Niemand</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
               <div class="tab-items d-flex" flexdirection="column">
                  <div class="item-container d-flex" justifycontent="space-between" alignitems="flex-start">
                     <div class="left-side">
                        <h3 class="item-title">{{locale.friends_title}}</h3>
                        <p class="item-description">{{locale.friends_label}}</p>
                     </div>
                     <div class="right-side">
                        <select name="block_friendrequests" data-id="block_friendrequests" class="settings no-background">
                           <option value="0" {% if data.block_friendrequests == 0 %}selected{% endif %}>Jeder</option>
                           <option value="1" {% if data.block_friendrequests == 1 %}selected{% endif %}>Niemand</option>
                        </select>
                     </div>
                  </div>
                  <div class="item-container d-flex" justifycontent="space-between" alignitems="flex-start">
                     <div class="left-side">
                        <h3 class="item-title">{{locale.room_title}}</h3>
                        <p class="item-description">{{locale.room_label}}</p>
                     </div>
                     <div class="right-side">
                        <select name="block_roominvites" data-id="block_roominvites" class="settings no-background">
                           <option value="0" {% if data.block_roominvites == 0 %}selected{% endif %}>Meine Freunde</option>
                           <option value="1" {% if data.block_roominvites == 1 %}selected{% endif %}>Niemand</option>
                       </select>
                     </div>
                  </div>
                  <div class="item-container d-flex" justifycontent="space-between" alignitems="flex-start">
                     <div class="left-side">
                        <h3 class="item-title">{{locale.hotelalerts_title}}</h3>
                        <p class="item-description">{{locale.hotelalerts_label}}</p>
                     </div>
                     <div class="right-side">
                        <select name="block_alerts" data-id="block_alerts" class="settings no-background">
                           <option value="0" {% if data.block_alerts == 0 %}selected{% endif %}>Jeder</option>
                           <option value="1" {% if data.block_alerts == 1 %}selected{% endif %}>Niemand</option>
                        </select>
                     </div>
                  </div>
                  <div class="item-container d-flex" justifycontent="space-between" alignitems="flex-start">
                     <div class="left-side">
                        <h3 class="item-title">{{locale.chat_title}}</h3>
                        <p class="item-description">{{locale.chat_label}}</p>
                     </div>
                     <div class="right-side">
                        <select name="old_chat" data-id="old_chat" class="settings no-background">
                           <option value="0" {% if data.old_chat == 0 %}selected{% endif %}>Meine Freunde</option>
                           <option value="1" {% if data.old_chat == 1 %}selected{% endif %}>Niemand</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="settings-content tabcontent" id="tab_password_content" style="display: none;">
            <form action="settings/password/request" method="post">
            <h2 class="tab-title">Passwort ändern</h2>
            <div class="tab-content">
               <div class="tab-mini-title">Aktuelles Passwort</div>
               <div class="tab-items d-flex" flexdirection="column">
                  <div class="item-container d-flex" flexdirection="column">
                     <label for="currently_password" class="item-title" cursor="pointer">Password</label>
                     <p class="item-description" style="margin-bottom: 10px;">Geben Sie ihr aktuelles Passwort ein.</p>
                     <input type="password" name="current_password" id="current_password" class="icon --password" autocomplete="off">
                  </div>
               </div>
            </div>
            <div class="tab-content">
               <div class="tab-mini-title">Setze neues Passwort</div>
               <div class="tab-items d-flex" flexdirection="column">
                  <div class="item-container d-flex" flexdirection="column">
                     <label for="new_password" class="item-title" cursor="pointer">Neues Passwort</label>
                     <p class="item-description" style="margin-bottom: 10px;">Benutze mindestens 8 Zeichen. Ihr Passwort muss mindestens einen Buchstaben und mindestens eine Zahl oder ein Sonderzeichen enthalten.</p>
                     <input type="password" name="new_password" id="new_password" class="icon --password" autocomplete="off">
                  </div>
                  <div class="item-container d-flex" flexdirection="column">
                     <label for="repeat_new_password" class="item-title" cursor="pointer" style="margin-bottom: 10px;">Wiederhole neues Passwort</label>
                     <input type="password" name="repeated_password" id="repeated_password" class="icon --password" autocomplete="off">
                  </div>
               </div>
            </div>
            <div class="d-flex" justifycontent="flex-end" alignitems="center" width="100" style="margin-top: 30px;">
               <button id="updatePassword" class="btn-success" width="auto">Speichern</button>
            </div>
           </form>
         </div>
         <div class="settings-content tabcontent" id="tab_email_content" style="display: none;">
            <form action="settings/email/validate" method="post">
            <h2 class="tab-title">{{locale.title}}</h2>
            <div class="tab-content">
               <div class="tab-mini-title">{{locale.email_title}}</div>
               <div class="tab-items d-flex" flexdirection="column">
                  <div class="item-container d-flex" flexdirection="column">
                     <label for="currently_email" class="item-title" cursor="pointer">E-Mail Address</label>
                     <p class="item-description" style="margin-bottom: 10px;">Geben Sie die E-Mail-Adresse ein, die Sie derzeit verwenden.</p>
                     <input type="email" name="email" value="{{player.mail}}" class="icon --email" autocomplete="off">
                  </div>
               </div>
            </div>
            <div class="tab-content">
               <div class="tab-items d-flex" flexdirection="column">
                  <div class="item-container d-flex" flexdirection="column">
                     <label for="repeat_new_email" class="item-title" cursor="pointer" style="margin-bottom: 10px;">Password</label>
                     <input type="email" name="current_password" id="current_password" class="icon --password" autocomplete="off">
                  </div>
               </div>
            </div>
            <div class="d-flex" justifycontent="flex-end" alignitems="center" width="100" style="margin-top: 30px;">
               <button id="updateMail" class="btn-success" width="auto">Speichern</button>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}