{% extends "base.html" %}
{% set nav = "namechange" %}
{% block body %}
<div id="fansites" class="page-fansites animate__animated animate__fadeIn" style="display: flex;">
   <div class="d-flex" justifycontent="center" alignitems="center" width="100">
      <div class="d-flex" justifycontent="center" flexdirection="column" style="margin-left: -250px">
        <div class="page-header d-flex" alignitems="center">
          <div class="page-icon d-flex" justifycontent="center" alignitems="center">
             <i class="icon --home"></i>
          </div>
          <div class="d-flex" flexdirection="column">
             <span class="page-title" weight="500">{{site.shortname}} {{locale.club_benefits}}</span>
             <p class="page-description">{{locale.desc}}</p>
          </div>
       </div>
         <div class="left-side">
            <div class="club-content">
              {{content|raw}}
            </div>

            <h4>Badges</h4>
            {% for badges in data.vip_badges %}
                <img src="{{site.cpath}}/c_images/album1584/{{badges|trim('value')}}.gif">
            {% endfor %}
         </div>
          <div style="margin-top: 50px; width: 250px">
              <form action="shop/club/buy">
				<input type="hidden" name="csrftoken" value="{{csrf_token}}">
                    <center><button class="modal-btn-3 button btn-success buy-now d-flex" justifycontent="center" alignitems="center">
                      {% if data.vip_membership_days == "lifetime" %}{{locale.unlimited}}{% else %}{{data.vip_membership_days}} DAYS {% endif %} ({{data.vip_price}} {{data.vip_type}})
                    </button></center>
              </form>
          </div>
      </div>
   </div>
</div>
<style>
  h6, h5, h4, h3, h2 {
      color: #fff;
      font-weight: normal !important;
      margin-top: 10px;
      font-size: 16px
  }
  
  li {
      font-size: 15px !important;
  }
</style>
{% endblock %}