{% extends "base.html" %}
{% block body %}
<div id="shop" class="page-shop animate__animated animate__fadeIn" style="display: flex;">
   <div class="d-flex" justifycontent="center" alignitems="center" width="100">
      <div class="d-flex" justifycontent="space-between" flexwrap="wrap" width="responsive">
         <div class="left-side d-flex" flexdirection="column" width="70" style="gap: 35px;">
            <div class="section-item">
        <div class="page-header d-flex" alignitems="center">
                  <div class="page-icon d-flex" justifycontent="center" alignitems="center">
                     <i class="icon --home"></i>
                  </div>
                  <div class="d-flex" flexdirection="column">
                     <span class="page-title" weight="500">{{site.shortname}} {{locale.store}}</span>
                     <p class="page-description">{{locale.desc}}</p>
                  </div>
               </div>
               <div class="section-body" style="background-color: #202226">
                  <div class="product-content d-flex" flexwrap="wrap">
                    <div class="offers-container" style="padding: 10px">
                    {% for offer in data.shop %}
                    <div class="page-content-collider-content-shop-left-side-products-list-wrapper offer-container" id="offer-{{offer.id}}" style="float:left; margin: 10px">
                       <a href="#" data-id="{{offer.id}}" data-amount="{{offer.amount}}" data-description="{{offer.description}}" data-type="{{currency}}" class="offer-content pixelated">
                       <button class="page-content-collider-content-shop-left-side-products-list-item accordion">
                          <div class="page-content-collider-content-shop-left-side-products-list-item-column">
                               <span class="page-content-collider-content-shop-left-side-products-list-item-icon">
                                  <img src="/assets/theme/default/images/web/pages/shop/{{offer.image}}">
                              </span>
                             <p class="page-content-collider-content-shop-left-side-products-list-item-name shop-white-text">{{offer.title|upper }}</p>
                          </div>
                          <div class="page-content-collider-content-shop-left-side-products-list-item-price">
                             <p class="page-content-collider-content-shop-left-side-products-list-item-price-text shop-white-text">{{offer.price}} {{currency}}</p>
                          </div>
                       </button>
                       <div class="page-content-collider-content-shop-left-side-products-list-item-product-payment-details-absolute payment">
                          <div class="page-content-collider-content-shop-left-side-products-list-item-product-payment-details">
                             <div class="page-content-collider-content-shop-left-side-products-list-item-product-payment-details-icon-space right-side">
                                <span class="page-content-collider-content-shop-left-side-products-list-item-product-payment-details-icon-space-icon pixelated --icon-1" ></span>
                                <div class="aside-content"></div>
                             </div>
                          </div>
                       </div>
                       </a>
                    </div>
                    {% endfor %}
                   </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="redeemCode"></div>
         <div class="right-side d-flex" flexdirection="column" width="25" style="gap: 35px;">
            <div class="info-space">
               <h3 class="title" weight="500">My Purse</h3>
               <div class="info-content d-flex" justifycontent="space-between" alignitems="center">
                  <div class="d-flex" alignitems="center" style="gap: 5px;">
                     <i class="icon --credits"></i>
                     <p>
                        <b weight="500">{{player.credits}}</b> 
                     </p>
                  </div>
                  {% for value in player_currency %}
                  <div class="d-flex" alignitems="center" style="gap: 5px;">
                     <i class="icon --{{value.currency}}"></i>
                     <p>
                        <b weight="500">{{value.amount}}</b> 
                     </p>
                  </div>
                  {% endfor %}
               </div>
            </div>
            <div class="info-space">
               <h3 class="title" weight="500">Code Einlösen</h3>
               <div class="info-content d-flex" flexdirection="column">
                  <input autocomplete="off" id="ticketcode" type="text" class="icon --redeem-code">
                  <button id="redeemticketbutton" name="redeem" class="btn-success">Einlösen</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}