{% extends "permissions.html" %}{% set set_permission = 'homepage' %}{% block base %}{% if load is not defined %}
<!DOCTYPE html>
<html lang="nl">
   <head>
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="UTF-8">
      <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta name="robots" content="follow, index">
      <link rel="shortcut icon" href="/assets/theme/ares/images/favicon.ico" type="image/x-icon">
      <title>{{title}} - {{site.sitename}}</title>
      <meta name="description"
         content="Virtuelle Welt für junge Leute, in der Sie Freunde finden und treffen können. Treffen Sie sich und finden Sie Freunde, chatten Sie mit anderen, erstellen Sie Ihren eigenen Avatar, gestalten Sie kostenlos Ihren eigenen Raum und vieles mehr ...">
      <meta name="keywords"
         content="cosmic, {{site.sitename}}, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rare, rare meubi, collect, make, collect, contact, meubi, furniture, pets, furnish room, share, expression, badges, hangout, music, celebrity, VIP visits, celebs, mmo, mmorpgs, massive multiplayer, dox , dox hotel, dox hotel, space hotel, space hotel, space, sunnie, sunnie day, sunnieday, habbo, HABBO, habbo hotel, habboo, habbo city, habbocity, cool, virtual world, vip, retro, retro hotel, habbo retro, free , free habbo, holo">
      <meta property="og:title" content="{{site.sitename}}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{site.domain}}">
      <meta property="og:image" content="/assets/images/summary-picture.png">
      <meta property="og:description" content="Virtuelle Welt, in der Sie Freunde finden und treffen können.">
      <meta property="og:site_name" content="{{site.sitename}}">
      <!-- CSS -->
      <link rel="stylesheet" href="/assets/theme/ares/css/style.css" type="text/css" />
      <link rel="stylesheet" href="/assets/theme/ares/css/draw.css" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/theme/ares/css/aside.css" type="text/css" />
      <link rel="stylesheet" href="/assets/theme/ares/css/popup.css" type="text/css" />
      <link rel="stylesheet" href="/assets/theme/ares/css/magnific-popup.css" type="text/css" />
      <link rel="stylesheet" href="/assets/theme/ares/css/animate.css" type="text/css" />
      <script src="/assets/js/jquery-3.6.0.min.js"></script>
      <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <script>
         var Site = {
             name: "{{site.sitename}}",
             url: "{{site.domain}}",
             game_url: "{{site.cpath}}",
             figure_url: "{{site.fpath}}",
             ares_theme: true
         }
         
         {% if player is empty %}  
         var User = {
             id: 0,
             username: "",
             online: 0,
             is_logged: false,
             is_staff: false
         }
         {% else %}
         var Client = {
             client_radio: "{{client.client_radio}}",
             nitro_path: "{{client.nitro_path}}"   
         }
         var User = {
             id: {{player.id}},
             username: "{{player.username}}",
             is_logged: true,
             ticket: "{{player.auth_ticket}}",
             is_staff: {% if player.rank >= 3 %}true{% else %}false{% endif %}
         
         };
         {% endif %}
         var Configuration = {
             {% if publickey is not empty %}recaptcha_public: "{{publickey}}",{% endif %}
             revision: "{{revision}}2213",
             cache: "{{cache_timestamp}}",
             findretros: {% if findretros %}true{% else %}false{% endif %}
         }
      </script>
   </head>
   <body class="flex-container flex-direction-column">
      <div id="hotel-selector" class="hotel-selector modal">
         <div class="modal-btn-select-avatar modal-overlay"></div>
         <div class="modal-content modal-transition" overflow="hidden">
            <div class="modal-header">
               <button class="modal-btn-select-avatar modal-close" position="absolute">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                     <path d="M7.496 7.495a.6.6 0 0 1 .85 0l3.174 3.176 3.176-3.176a.6.6 0 0 1 .85.85l-3.177 3.174 3.176 3.176a.603.603 0 0 1 0 .85.6.6 0 0 1-.85 0l-3.175-3.177-3.175 3.176a.6.6 0 1 1-.85-.85l3.177-3.175-3.176-3.175a.6.6 0 0 1 0-.85Z"></path>
                  </svg>
               </button>
            </div>
            <div class="modal-body d-flex" flexdirection="column" justifycontent="center" alignitems="center">
               {% for name,nitro in client.nitro %}
               <div id="hotelbtn" class="hotelbtn {{nitro}}">
                  <a href="/hotel" data-link="{{name}}" class="button btn-success modal-btn-select-avatar hotel-button" texttransform="uppercase" style="padding: 20px 90px;width: 282px;">{{nitro}}</a>
               </div>
               {% endfor %}
               {% if client.flash.enabled %}
               <div class="native-hotel-launch__group">
                  <p class="native-hotel-launch__group__desc" translate="NATIVE_HOTEL_LAUNCH_DESCRIPTION">{{site.sitename}} {{locale_base.hotel_selector_flash_installed}}</p>
               </div>
               <div id="hotelbtn" class="hotel-login-flash">
                  <a href="/flash" target="_blank" class="button btn-success modal-btn-select-avatar hotel-button" texttransform="uppercase" style="padding: 20px 90px;">{{locale_base.hotel_selector_go_flash}}</a>
               </div>
               <a href="{{client.flash.pc_download_button}}" class="native-hotel-download">
               <span class="native-hotel-download__text">{{locale_base.hotel_selector_download_pc}}</span> </a>
               {% endif %}
            </div>
         </div>
      </div>
      <div id="about-dialog" class="login-popup zoom-anim-dialog mfp-hide">
         <h1 class="aside-title" >{{site.sitename}}</h1>
         <h5 weight="600">Cosmic CMS Renamed by Sir1337 geilster typ</h5>
         <h4>{{locale_base.thanks_for_playing}} {{site.shortname}}!</br>{{site.shortname}} {{locale_base.made_with_love}} ♥</br></h4>
         <h5>{{locale_base.and_all}} {{site.shortname}}'s ♥</h5>
         </br></br>
         Cosmic 3.0
      </div>
      <div id="notification" class="notifications-container"></div>
      {% if player %}
      <header>
         <div class="header-background-image bg-ween_3 d-flex" justifycontent="center" alignitems="center">
            <div class="#" position="absolute"></div>
            <div class="#" position="absolute"></div>
            <div class="d-flex" justifycontent="space-between" alignitems="center" width="70">
               <div class="user-info d-flex">
                  <div class="user-figure-container d-flex" justifycontent="center" alignitems="center">
                     <div class="user-figure-background">
                        <div class="user-figure" style="background-image: url('{{site.fpath}}?figure={{player.look}}&amp;action=std&amp;direction=2&amp;head_direction=2&amp;img_format=undefined&amp;gesture=srp&amp;headonly=1&amp;size=l');"></div>
                     </div>
                  </div>
                  <div class="user-stats d-flex" flexdirection="column">
                     <span class="username">{{ player.username }}</span>
                     <span class="motto">{{ player.motto }}</span>
                     <div class="purse d-flex">
                        <div class="purse-item d-flex">
                           <i class="icon --headerCredits"></i>
                           <div class="d-flex" flexdirection="column">
                              <p><b weight="500"> {{player.credits}}</b></p>
                              <p texttransform="uppercase">Taler</p>
                           </div>
                        </div>
                        {% for value in player_currency %}
                        <div class="purse-item d-flex">
                           <i class="icon --header-{{value.type}}"></i>
                           <div class="d-flex" flexdirection="column">
                              <p><b weight="500">{{value.amount}}</b></p>
                              <p texttransform="uppercase">{{value.currency}}</p>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
               <div class="hotel-button-content">
                  <h2>{{online_count}} {{site.sitename}}'s online</h2>
                  <div id="hotelbtn">
                     <a class="button btn-success modal-hotel-button" texttransform="uppercase" style="padding: 20px 90px;">Ins Hotel</a>
                  </div>
               </div>
            </div>
         </div>
         <nav class="menu d-flex navigation-container" style="padding: 10px 0; z-index: 0;" justifycontent="center" alignitems="center">
            <div class="d-flex" justifycontent="space-between" alignitems="center" width="responsive">
               <div class="left-nav d-flex" alignitems="center" position="relative">
                  <div class="nav-item d-flex" justifycontent="center" alignitems="center" position="relative">
                     <a href="/home" style="display: contents;"><i class="icon --home" position="absolute"></i></a>
                     <a exttransform="uppercase" class="navigation-item {% if "home" in page %}selected {% endif %}" data-category="home">{{locale_base.nav_home|upper}}</a>
                  </div>
                  <div id="hoverable-dropdown" class="nav-item d-flex" justifycontent="center" alignitems="center" position="relative">
                     <i class="icon --community" position="absolute"></i>
                     <a texttransform="uppercase" class="navigation-item {% if "community" in page %}selected {% endif %}" data-category="community">{{locale_base.nav_community}}</a>
                     <div id="hoverable-dropdown-content" class="nav-item-content" position="absolute">
                        <a href="/articles">{{locale_base.nav_news}}</a>
                        <a href="/community/photos">{{locale_base.nav_photos}}</a>
                        <a href="/community/staff">{{site.shortname}} {{locale_base.nav_staff}}</a>
                        <a href="/community/team">{{site.shortname}} {{locale_base.nav_team}}</a>
                        <a href="/community/rares">{{site.shortname}} {{locale_base.nav_rarevalue}}</a>
                     </div>
                  </div>
                  <div id="hoverable-dropdown" class="nav-item d-flex" justifycontent="center" alignitems="center" position="relative">
                     <i class="icon --shop" position="absolute"></i>
                     <a texttransform="uppercase" class="navigation-item {% if "shop" in page %}selected {% endif %}" data-category="shop">{{locale_base.nav_shop}}</a>
                     <div id="hoverable-dropdown-content" style="width: 190px;" class="nav-item-content" position="absolute">
                        <a href="/shop">{{locale_base.nav_buy_points}}</a>
                        <a href="/shop/club">{{locale_base.nav_buy_club}}</a>
                        <a href="/settings/namechange">{{locale_base.nav_changename}}</a>
                     </div>
                  </div>
                  <div class="nav-item d-flex" justifycontent="center" alignitems="center" position="relative">
                     <a href="/games/ranking" style="display: contents"><i class="icon --highscores" position="absolute"></i></a>
                     <a texttransform="uppercase" class="navigation-item {% if "games" in page %}selected {% endif %}" data-category="games">{{locale_base.nav_highscores}}</a>
                  </div>
                  <div id="hoverable-dropdown" class="nav-item d-flex" justifycontent="center" alignitems="center" position="relative">
                     <i class="icon --helpcenter" position="absolute"></i>
                     <a texttransform="help" class="navigation-item {% if "help" in page %}selected {% endif %}" data-category="help">{{locale_base.nav_helptool|upper}}</a>
                     <div id="hoverable-dropdown-content" class="nav-item-content" position="absolute">
                        <a href="/help">{{locale_base.nav_helptool}}</a>
                        {% if player %}<a href="/help/requests/new">{{locale_base.nav_helptickets}}</a>{% endif %}
                     </div>
                  </div>
               </div>
               <div class="right-nav d-flex" alignitems="center">
                  <div id="clickable-dropdown" class="user-menu" position="relative">
                     <div id="clickable-dropdown-toggle" class="user-menu-content d-flex" justifycontent="center" alignitems="center" cursor="pointer">
                        <div class="head-figure" style="background-image: url('{{site.fpath}}?figure={{player.look}}&amp;action=std&amp;direction=2&amp;head_direction=2&amp;img_format=undefined&amp;headonly=1&amp;size=b')"></div>
                        <span class="username" id="username">{{player.username}}</span>
                     </div>
                     <div id="clickable-dropdown-content" class="user-menu-list d-flex" flexdirection="column" position="absolute">
                        <a href="/profile/{{player.username}}">{{locale_base.user_profile}}</a>
                        <a href="/settings">{{locale_base.user_settings}}</a>
                        {% if 'housekeeping' in permissions %}
                        <a href="/housekeeping" target="_blank">{{locale_base.nav_housekeeping}}</a>
                        {% endif %}
                        <a href="/logout" target="_self">{{locale_base.user_logout}}</a>
                     </div>
                  </div>
                  <div id="clickable-dropdown" class="select-language" position="relative" cursor="pointer">
                     <div id="clickable-dropdown-toggle" class="selected d-flex" justifycontent="center" alignitems="center" position="relative">
                        <span class="flag {{player.lang}}"></span>
                     </div>
                     <div id="clickable-dropdown-content" class="other-languages d-flex" flexdirection="column" position="absolute">
                        <button name="de" class="option d-flex languageSwitcher" justifycontent="center" style="background: transparent;border: none;height: 42px;">
                           <span class="flag de"></span>
                        </button>
                        <button name="nl" class="option d-flex languageSwitcher" justifycontent="center" style="background: transparent;border: none;height: 42px;">
                        <span class="flag nl"></span>
                        </button>
                        <button name="en" class="option d-flex languageSwitcher" justifycontent="center" style="background: transparent;border: none;height: 42px;">
                           <span class="flag en"></span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </nav>
      </header>
      {% endif %}
      <section id="mezz-container" class="page-container" data-page="{% if page is empty %}lost{% else %}{{page}}{% endif %}">
         {% block body %} {% endblock %}
      </section>
      {% if player %}
      <footer class="d-flex" flexdirection="column" justifycontent="center" alignitems="center">
         <div class="container d-flex" flexdirection="column" justifycontent="center" alignitems="center" width="100">
            <div class="d-flex" justifycontent="space-between" alignitems="center" width="responsive">
               <div class="item d-flex" flexdirection="column">
                  <p>© 2023 HabboYT Renamed Ares (kack Dome) Design. Alle Rechte Vorbehalten. Unser Discord <a weight="500" href="https://discord.gg/bycmFSeZzf" target="_blank">Jan seh zu mit deinem Design</a>.</p>
                  <p>Diese website gehört nicht der Sulake Corporation und wird nicht von Habbo Hotel betrieben..</p>
               </div>
               <div class="item">
                  <img src="https://cdn.discordapp.com/attachments/1152343499878977696/1155568582252572803/hbblogo.png" alt="YT Logo" class="mezz-logo">
               </div>
            </div>
            <div class="bottom d-flex" justifycontent="center" alignitems="center" width="100" style="gap: 10px;">
               <p>Danke</p>
               <i class="icon --heart"></i><a href="#" class="about-dialog-button" weight="600">Sir1337 & OtakuHQ sind die geilsten</a></p>
            </div>
         </div>
      </footer>
      <div id="hotel-container">
         <div class="client-buttons">
            <button class="client-close rounded-button blue plain">
            <i style="margin-top:2px;margin-left:3px;" class="client-icon fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <button class="client-fullscreen rounded-button blue plain">
            <i class="client-icon client-fullscreen-icon"></i>
            <i class="client-icon client-fullscreen-icon-back hidden"></i>
            </button>
            <button class="client-radio rounded-button blue plain" style="display: flex;padding-left: 8px;">
               <audio controls id="stream" style="display:none">
                  <source type="audio/mpeg">
               </audio>
               <i class="fa fa-play"></i>
               <i class="fa fa-pause" style="display: none"></i>
            </button>
            <button class="client-radio rounded-button blue plain" style="display: flex;padding-left: 8px;">
            <i class="fa fa-volume-down"></i>
            <i class="fa fa-volume-up" style="padding-left: 4px;"></i>
            </button>
         </div>
      </div>
      {% endif %}
      <script src="/assets/theme/ares/js/clickableDropdown.js?release-2.0.0"></script>
      <script src="/assets/js/js.cookie.js"></script>
      <script src="/assets/js/jquery.history.js"></script>
      <script src="/assets/js/jquery.fullscreen.min.js"></script>
      <script src="/assets/js/jquery.magnific-popup.js"></script>
      <script src="/assets/js/selectric.js?v=34212"></script>
      <script src="/assets/js/functions.js"></script>
      <script src="/assets/js/web/loading.js?v={{cache_timestamp}}"></script>
      <script src="/assets/js/pagination.js"></script>
      <script src="/assets/js/jquery.wysibb.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}&currency={{paypal_currency}}&disable-funding=credit,card"></script>
   </body>
</html>
{% else %}
{{ block('body') }}
{% endif %}
{% endblock %}